@model FinancialPlanner.Models.Household

@if (User.IsInRole("Head") || User.IsInRole("Member"))
{
    @Html.Partial("_ShowHousehold", Model)
}
else
{
    <div class=" col-md-offset-4">
        @Html.Partial("_CreateOrJoin")
    </div>
}

@section scripts{
    <script>
        const newuser = '@TempData["New"]';
        const warning = '@TempData["warning"]';
        if (newuser == 'new') {
            Swal.fire({
                type: 'success',
                title: 'You have been added to the house',
                showConfirmButton: false,
                timer: 3000
            })
        }
        if (warning != "") {
            Swal.fire({
                type: 'warning',
                title: 'Warning',
                text: warning.toString()
            })
        }
    </script>
}