@model FinancialPlanner.Models.Budget

@{
    ViewBag.Title = "Details";
}

<div style="display: flex; justify-content: center">
    <div style="width: 60vw" class="well row">
        <h1 style="text-align: center">@Model.Name - @Model.Description</h1>
        <h4 style="text-align: center">Budgeted: @Model.TargetTotal Current: @Model.CurrentTotal</h4>

    </div>
</div>

