
<div class="col-md-6">
    Accounts
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#popular" data-toggle="tab">displayname1</a>
            </li>
            <li>
                <a href="#recent" data-toggle="tab">displayname2</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="popular" class="tab-pane active">
                <section class="panel">
                    <div class="panel-body">
                        <div class="invoice">
                            <header class="clearfix">
                                <div class="row">
                                    <div class="col-sm-6 mt-md">
                                        <h2 class="h2 mt-none mb-sm text-dark text-bold">Account Name</h2>
                                    </div>
                                    <div class="col-sm-6 text-right mt-md mb-md">
                                        <address class="ib mr-xlg">
                                            Type
                                            <br />

                                        </address>
                                        <div class="ib">
                                        </div>
                                    </div>
                                </div>
                            </header>


                            <div class="table-responsive">
                                <table class="table invoice-items">
                                    <thead>
                                        <tr class="h4 text-dark">
                                            <th id="cell-id" class="text-semibold">#</th>
                                            <th id="cell-item" class="text-semibold">Item</th>
                                            <th id="cell-desc" class="text-semibold">Description</th>
                                            <th id="cell-price" class="text-center text-semibold">Price</th>
                                            <th id="cell-qty" class="text-center text-semibold">Quantity</th>
                                            <th id="cell-total" class="text-center text-semibold">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>123456</td>
                                            <td class="text-semibold text-dark">Porto HTML5 Template</td>
                                            <td>Multipourpouse Website Template</td>
                                            <td class="text-center">$14.00</td>
                                            <td class="text-center">2</td>
                                            <td class="text-center">$28.00</td>
                                        </tr>
                                        <tr>
                                            <td>654321</td>
                                            <td class="text-semibold text-dark">Tucson HTML5 Template</td>
                                            <td>Awesome Website Template</td>
                                            <td class="text-center">$17.00</td>
                                            <td class="text-center">1</td>
                                            <td class="text-center">$17.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="invoice-summary">
                                <div class="row">
                                    <div class="col-sm-4 col-sm-offset-8">
                                        <table class="table h5 text-dark">
                                            <tbody>
                                                <tr class="b-top-none">
                                                    <td colspan="2">Subtotal</td>
                                                    <td class="text-left">$73.00</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">Shipping</td>
                                                    <td class="text-left">$0.00</td>
                                                </tr>
                                                <tr class="h4">
                                                    <td colspan="2">Grand Total</td>
                                                    <td class="text-left">$73.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="text-right mr-lg">
                            <a href="#" class="btn btn-default">Submit Invoice</a>
                            <a href="pages-invoice-print.html" target="_blank" class="btn btn-primary ml-sm"><i class="fa fa-print"></i> Print</a>
                        </div>*@
                    </div>
                </section>
            </div>
            <div id="recent" class="tab-pane">
                <section class="panel">
                    <div class="panel-body">
    
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
